<footer>
    <div class="container">
        <div class="caixaContato">
            <div class="contato">

                <img src="images/Hicon/Call.png" alt="icone de telefone">
                <p>(11)99999-9999</p>
            </div>
            <div class="contato">
                <img src="images/Hicon/email.png" alt="icone de email">
                <p>sac@foxxer.com</p>

            </div>
        </div>
        <div class="boxForm">
            <div class="form">
                <p>QUER MANTER SEU SETUP ATUALIZADO? RECEBA NOSSAS OFERTAS!</p>
                <div id="nome">
                    <input type="text" placeholder="Qual é o seu nome?">
                </div>
                <div id="mail">
                    <input type="email" placeholder="Seu email?">
                </div>
                <div class="ofertas">
                    <button type="submit">Quero receber</button>
                </div>
            </div>
        </div>
        <div class="links">
            <div class="container-footer">
                <ul class="main-category">
                    <h7>INSTITUCIONAL</h7>
                    <hr>
                    <li> <a href="/"> Quem somos </a></li>
                    <li> <a href="/"> Localização </a></li>
                    <li> <a href="/"> Lojas </a></li>
                </ul>
            </div>
            <div class="container-footer">
                <ul class="main-category">
                    <h7>DÚVIDAS</h7>
                    <hr>
                    <li> <a href="/"> Entrega </a></li>
                    <li> <a href="/"> Garantia </a></li>
                    <li> <a href="/"> Como comprar </a></li>
                    <li> <a href="/"> Formas de pagamento </a></li>
                    <li> <a href="/"> Boletos </a></li>
                </ul>
            </div>
            <div class="container-footer">
                <ul class="main-category">
                    <h7>AJUDA</h7>
                    <hr>
                    <li> <a href="/"> SAC </a></li>
                    <li> <a href="/"> Fale conosco </a></li>
                    <li> <a href="/"> Termos de aceite </a></li>
                    <li> <a href="/"> Políticas de privacidade </a></li>
                </ul>
            </div>
            <div class="container-cards">
                <p>Pagamento</p>
                <hr>
                <div class="cards">
                    <img src="images/Hicon/Payment Method/Mastercard.png" alt="bandeira Mastercard">
                    <img src="images/Hicon/Payment Method/Visa.png" alt="bandeira Visa">
                    <img src="images/Hicon/Payment Method/Amex.png" alt="bandeira Amex">
                    <img src="images/Hicon/Payment Method/Bitcoin.png" alt="bandeira Bitcoin">
                    <img src="images/Hicon/Payment Method/PayPal.png" alt="bandeira PayPal">
                    <img src="images/Hicon/Payment Method/Elo.png" alt="bandeira Elo">
                    <img src="images/Hicon/Payment Method/Boleto.png" alt="bandeira Boleto">
                    <img src="images/Hicon/Payment Method/Pix.png" alt="bandeira Pix">
                </div>
            </div>
            <div class="social-media">
                <div class="logos">
                    <img src="images/Hicon/Instagram_white.png" alt="logo instagram">
                    <img src="images/Hicon/Twitter_white.png" alt="logo twitter">
                    <img src="images/Hicon/Facebook_white.png" alt="logo facebook">
                </div>
                <div class="slogan">
                    <h8>DE GAMERS PARA GAMERS ©</h8>
                </div>
            </div>
        </div>
    </div>
</footer>