<!--FOOTER-->
<html>

<head>
    <link rel="stylesheet" type="text/css" href="/stylesheets/styleHeaderFooter.css" />
</head>


<div class="container-footer">
    <div class="div-sociais">
        <img src="/images/imagesHeaderFooter/facekk.png" alt="">
        <img src="/images/imagesHeaderFooter/instakk.png" alt="">
        <img src="/images/imagesHeaderFooter/ttkk.png" alt="">
    </div>
    <div class="autor">
        <h4 class="autor-cor">
            ©2022 Criado para Projeto integrador
        </h4>
    </div>
</div>

</html>