<!-- navbar -->
<html>

<head>
    <link rel="stylesheet" type="text/css" href="/stylesheets/styleHeaderFooter.css" />

</head>

<body>
    <nav>
        <img src="/img/icon.png" alt="icon" id="icontheme">
        <a class="logo" href="http://localhost:3000/home">ease together</a>
        <div class="mobile-menu">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
        </div>
        <ul class="nav-list">
            <li><a href="http://localhost:3000/main">Para você</a></li>
            <li><a href="http://localhost:3000/main">Para sua empresa</a></li>
            
            <li><a href="http://localhost:3000/cadastro">Login</a></li>
        </ul>

    </nav>
    
</body>

</html>