<!-- navbar -->
<nav>
    <a id="fdp-logo" class="logo" href="/"></a>
    <div class="mobile-menu">
        <div class="line1"></div>
        <div class="line2"></div>
        <div class="line3"></div>
    </div>

    <ul class="nav-list">
        <li>
            <a href="/">Todas as categorias</a></li>
        <li>
            <a href="/">Computadores</a></li>
        <li>
            <a href="/">Notebooks</a></li>
        <li>
            <a href="/">Mouses</a></li>
        <li>
            <a href="/">Headsets</a></li>

    </ul>
    <input class="input-nav" placeholder="     Buscar produto">


    <a id="fdp1" class="btn-heart" href="/"></a>
    <a id="fdp2" class="btn-shopping-cart" href="/"></a>
    <a id="fdp3" class="btn-user" href="/"></a>



    <ul class="nav-login">
        <li class="nav-cadastro"><a href="/">Faça seu <span class="login-vermelho"> login </span><br> ou <span class="login-vermelho">cadastre-se</span></a></li>

    </ul>
</nav>



</div>