<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>EASE TOGETHER - LOGIN</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='stylesheets/styleCadastro.css'>
    <link rel="shortcut icon" type="imagem/x-icon" href="/img/icon.png" />

</head>

<header>
    <%- include('./partials/navheader.ejs') %>
</header>

<body>

    <main>
        <aside>
        </aside>

        <section class="section">

            <div class="cadastro">
                <h3>JÁ TENHO UMA CONTA</h3>
                <form class="campo">
                    <input type="text" id="email" nome="email" required placeholder="E-mail">
                    <input type='password' id='senha' name='senha' required placeholder="Senha">

                    <a href="/" class="esqueci">ESQUECI MINHA SENHA</a>


                    <button type="button" class="btn-entrar"> ENTRAR </button>
                </form>

            </div>
            <div class="cadastro">
                <h3>QUERO ME CADASTRAR</h3>
                <form class="campo">
                    <input type="text" id="email" nome="email" required placeholder="E-mail ou Id">
                    <input type='password' id='senha' name='senha' required placeholder="Crie sua senha">
                    <input type='password' id='senha' name='senha' required placeholder="Confirme sua senha">
                    <input type="text" id="cpf" nome="cpf" required placeholder="Insira seu CPF">
                    <input type="text" id="cep" nome="cep" required placeholder="CEP">
                    <button type="button" class="btn-cadastrar"> CADASTRAR </button>

                </form>
            </div>
        </section>
    </main>
</body>


<script type="text/javascript" src="javascripts/mobile-navbar.js"></script>
<footer>
    <%- include('./partials/footer.ejs') %>
</footer>

</html>