<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/stylecarrinho.css">
    <link rel="shortcut icon" type="imagem/x-icon" href="/img/icon.png">
    <script type="text/javascript" src="/javascripts/script.js"></script>
    <title>EASE TOGETHER</title>

    <title>EASE TOGETHER - CARRINHO</title>


    <body>

        <header>
            <%- include('./partials/navheader.ejs') %>
        </header>


        <div class="div-mae">

            <span class="section1"><h1>Está tudo certo?</h1></span>

            <section class="section2">


                <div class="box">
                    <div id="div-content"><img id="img" src="/images/imagesCarrinho/ICON CARRINHO.png" alt="carrinho">
                        <h2 id="product">PRODUTO</h2>
                        <h3>Plano Selecionado</h3>
                        <h3>Subtotal</h3>
                    </div>
                    <hr>
                    <div class="div-content2">
                        <span><img id='note' src="" alt="notebook"></span>
                        <div class="sub-div">
                            <h5>

                            </h5>
                            <button type="button" id="button-remove" onclick="event"><img src="/images/imagesCarrinho/Vector.png" alt="lixo">REMOVER</button>
                        </div>
                        <button type="button" id="button1">Mensal</button>
                        <p id="value">

                        </p>
                    </div>


                </div>

                <div class="letter">O SEU CARRINHO ESTÁ VAZIO :(</div>

                <script>
                    const box = document.getElementsByClassName('box');
                    let button = document.getElementById('button-remove');
                    let texto = document.getElementsByClassName('letter');

                    const event = button.addEventListener('click', () => {
                        box.classList.replace('box-invisible');
                        texto.classList.replace('letter-ative');

                    });
                </script>

                <section class="section3">
                    <div class="box">
                        <div id="div-content"><img class="img2" src="/images/imagesCarrinho/image 18.png" alt="MAP">
                            <h2 id="end">ENDEREÇO</h2>
                        </div>
                        <hr>
                        <div class="div-content2">
                            <div class="div-end">
                                <h5 id="title">MINHA CASA</h5>
                                <p id="text">Rua: Sete de Setembro <br> Número: 4336 <br> CEP: 57480-095 <br> Cidade: Barretos <br> Estado: São Paulo </p>
                            </div>

                            <div class="div-end">
                                <h5 id="title">TRABALHO</h5>
                                <p id="text">Rua: Carlos Costa <br> Número: 36 <br> CEP: 57484-098 <br> Cidade: Barretos <br> Estado: São Paulo </p>
                            </div>


                            <div class="div-buttons">
                                <button type="button" id="button2">EDITAR</button>
                                <button type="button" id="button2">SELECIONAR OUTRO</button>
                                <button type="button" id="button3">NOVO ENDEREÇO</button>
                            </div>
                        </div>
                    </div>
                </section>

                <section class="section4">

                    <div class="boxcontent">

                        <h2 id="frete">Calcule seu frete:</h2>
                        <div class="form">
                            <form action="post" id="form-frete">
                                <input name="cep" id="cep" required placeholder="  Insira seu CEP"><button for='cep' type="button" id="button-ok">OK</button>
                            </form>
                            <a id='link' href="https://buscacepinter.correios.com.br/app/endereco/index.php">Não lembro do meu CEP</a>
                            <hr>
                            <div class="resto">
                                <div>
                                    <input type="text" name="rua" id="endereco"><br>
                                    <input type="text" name="bairro" id="bairro"><br>
                                    <input type="text" name="cidade" id="cidade"><br>
                                    <input type="text" name="estado" id="estado"><br>


                                </div>


                                <div>
                                    <h4>Valor</h4>
                                    <input type='text' id="freteValor">
                                    </input>
                                </div>
                            </div>

                            <script>
                                const validaCep = (endereco) => {
                                    document.getElementById('endereco').value = endereco.logradouro;
                                    document.getElementById('bairro').value = endereco.bairro;
                                    document.getElementById('cidade').value = endereco.localidade;
                                    document.getElementById('estado').value = endereco.uf;
                                }

                                const pesquisarCep = async() => {
                                    const cep = document.getElementById('cep').value;
                                    const url = `http://viacep.com.br/ws/${cep}/json/`;

                                    const dados = await fetch(url);
                                    const endereco = await dados.json();
                                    validaCep(endereco);


                                };

                                document.getElementById('cep').addEventListener('focusout', pesquisarCep);
                            </script>

                            <script>
                                const cep = document.getElementById('cep');
                                const iniCepNumber = cep.length;
                                const valor = document.getElementById('freteValor');

                                function calculoCepValor(number) {
                                    if (number <= 3) {
                                        number * 3
                                    }
                                    if (number > 3 || number <= 6) {
                                        number * 4
                                    } else {
                                        number * 5
                                    }

                                }
                                let resultadoFrete = calculoCepValor(iniCepNumber[0]);
                                valor.value = resultadoFrete;
                            </script>


                        </div>
                    </div>

                    <div class="boxcontent">
                        <div class="seila">
                            <img src="/images/imagesCarrinho/image 20.png" alt="revisao" id="revisao">
                            <h2 id="title-revisao">REVISÃO</h2>
                        </div>
                        <div class="seila2">
                            <h4>Valor dos produtos:</h4>
                            <h5>

                            </h5>
                        </div>
                        <hr>
                        <div class="seila">
                            <h4>Frete:</h4>
                            <h5>GRÁTIS</h5>
                        </div>
                        <div class="seila">
                            <h4>total à prazo:</h4>
                            <h5>

                            </h5>
                        </div>
                        <div>

                        </div>
                        <div class="seila">
                            <button type="button" id="pagamento" onclick="window.location.href='/finalizarcompra'">IR PARA O PAGAMENTO</button>
                            <button type="button" id="continuar" onclick="window.location.href='/main'">CONTINUAR COMPRANDO</button>
                        </div>

                    </div>

                </section>



        </div>
        </section>


        </div>
        <footer>
            <%- include('./partials/footer.ejs') %>
        </footer>

        <script type="text/javascript" src="../../public/javascripts/script.js"></script>
    </body>

</html>