<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="stylesheets/stylehome.css" media="screen" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="imagem/x-icon" href="/img/icon.png">
    <script type="text/javascript" src="public/javascripts/mobile-navbar.js"></script>
    <title>EASE TOGETHER</title>
</head>

<header>
    <%- include('./partials/navheader.ejs') %>
</header>

<body>
    <main>
        <div class="div-mae">
            <!-- banner 1 -->
            <div class="banner1">
                <img src="/images/imagesHome/banner1.png" alt="mulher com notebook" id="banner-image">
                <span id="title1">O computador dos <br> seus sonhos a um <br>clique de distância</span>
            </div>
            <!-- banner 2 -->
            <div class="banner2">
                <img id="banner-image2" src="/images/imagesHome/image1.png" alt="dois notebooks">
                <div>
                    <span id="title2">Notebooks de ponta para suprir sua demanda</span>
                    <div>
                        <span id="texto-banner2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Felis eget velit aliquet sagittis id consectetur purus ut.</span>
                        <div class="button-div"><button id="button" type="button">Empresarial</button><button type="button" id="button">Pessoal</button></div>
                    </div>
                </div>
            </div>
            <!-- banner 3 -->
            <div class="banner3">
                <span id="title3">ESCOLHA O PLANO QUE SE AJUSTA A VOCÊ</span>
                <div class="div-cards">
                    <div class="card">
                        <span id="title-card1">Planos a partir de</span>
                        <span id="value-card1">R$380,00</span>
                        <P id="text-card1">por mês</P>
                        <div class="linesdiv1">
                            <span id="line-card"><img id="img-card" src="/images/imagesHome/imgcard1.png" alt="img1">Lorem ipsum dolor sit amet</span><br>
                            <span id="line-card"><img id="img-card" src="/images/imagesHome/imgcard2.png" alt="img2">Lorem ipsum dolor sit amet</span><br>
                            <span id="line-card"><img id="img-card" src="/images/imagesHome/imgcard3.png" alt="img3">Lorem ipsum dolor sit amet</span>
                            <button type="button" id="button-card1">Quero esse</button>
                        </div>
                    </div>
                    <div class="card">
                        <span id="title-card2">Planos a partir de</span>
                        <span id="value-card2">R$490,00</span>
                        <P id="text-card2">por mês</P>
                        <div class="linesdiv2">
                            <span id="line-card"><img id="img-card" src="/images/imagesHome/imgcard1.png" alt="img1">Lorem ipsum dolor sit amet</span><br>
                            <span id="line-card"><img id="img-card" src="/images/imagesHome/imgcard2.png" alt="img2">Lorem ipsum dolor sit amet</span><br>
                            <span id="line-card"><img id="img-card" src="/images/imagesHome/imgcard3.png" alt="img3">Lorem ipsum dolor sit amet</span><br>
                            <span id="line-card"><img id="img-card" src="/images/imagesHome/imgcard4.png" alt="img4">Lorem ipsum dolor sit amet</span><br>
                            <span id="line-card"><img id="img-card" src="/images/imagesHome/imgcard5.png" alt="img5">Lorem ipsum dolor sit amet</span>
                            <button type="button" id="button-card2">Quero esse</button>
                        </div>
                    </div>
                </div>
                <!-- mini carrossel -->
                <div class="carroussel"><img id="img-carrousel" src="/images/imagesHome/carroussel.png" alt=""><img id="img-carrousel" src="/public/images/imagesHome/carroussel.png" alt=""><img id="img-carrousel" src="/public/images/imagesHome/carroussel.png" alt=""><img id="img-carrousel"
                        src="/images/imagesHome/carroussel.png" alt=""></div>
                <!-- continuação do banner 3 -->
                <div class="div-filha">
                    <div class="div-neta1">
                        <span id="title-divneta1">Facilidade e qualidade:<br> Tenha o melhor equipamento <br> no menor tempo.</span>
                        <p id="text-divneta1">Lorem ipsum dolor sit amet, <br> consectetur adipiscing elit. Felis <br> eget velit aliquet sagittis id <br> consectetur purus ut.</p>
                    </div>
                    <div class="div-neta2">

                    </div>
                </div>

                <img src="/images/imagesHome/detail.png" alt="detail" id="detail">

            </div>
            <!-- banner 4 -->
            <div class="banner4">
                <div class="div-form">
                    <form method="post" target="_blank">
                        <legend id="legend-form">Solicite seu orçamento</legend>
                        <p>
                            <input type="text" required name="name" id="name" placeholder=" Seu nome completo*">
                            <input type="email" name="email" required id="email" placeholder=" Seu e-mail*">
                            <input type="tel" name="phone" required id="phone" placeholder=" Seu telefone*">
                            <input type="text" name="cep" id="cep" required size="8" maxlength="8" placeholder=" CEP do local da entrega*">

                        </p>



                        <span id="title-form">Por quanto tempo você precisa?</span>
                        <div class="radiodiv">
                            <span id="inputradio"><input type="radio" checked name="checkbox"><label id="label-form">1 a 3 meses</label></span>
                            <span id="inputradio"><input type="radio" name="checkbox"><label id="label-form">3 meses</label></span>
                            <span id="inputradio"><input type="radio" name="checkbox"><label id="label-form">6 meses</label></span>
                            <span id="inputradio"><input type="radio" name="checkbox"><label id="label-form">Mais de um ano</label></span>
                        </div>
                        <br>
                        <textarea rows="5" cols="50" name="messageform" id="message-form"> Nos conte o que você precisa</textarea>
                        <!-- <input type="text" id="message-form" name="messageform" maxlength="200" placeholder=" Nos conte o que você precisa"> -->
                        <br>
                        <button type="submit" id="button-form" onsubmit="oi()">Enviar</button>

                    </form>
                </div>
                <div class="imgform">
                    <img id="imgform" src="/images/imagesHome/image3.png" alt="mulher loira no notebook">
                </div>
            </div>
        </div>
    </main>
    <script src="/javascripts/script.js" type="text/javascript"></script>

</body>

<footer>
    <%- include('./partials/footer.ejs') %>
</footer>

</html>