<!DOCTYPE html>
<html lang="pt-br">

<head>
    <link rel="stylesheet" href="stylesheets/stylemain.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="imagem/x-icon" href="/img/icon.png">
    <script type="text/javascript" src="javascripts/mobile-navbar.js"></script>
    <title>EASE TOGETHER - TODOS OS PRODUTOS </title>
</head>

<body>

    <header>
        <%- include('./partials/navheader.ejs') %>

    </header>



    <div class="cabecalho">

        <button class="button-filter">Filtrar <img id='filter'src='/images/imagesProdutos/filter.png'></button>
        <div class="dropdown">
            <label class="ordenar" for="opcoes">Ordenar </label>
            <select name="opcoes" id="opcoes">
                <option id="itens" value="mais-procurados">Mais procurados</option>
                <option id="itens" value="mais-recentes">Mais recentes</option>
                <option id="itens" value="maior-preco">Maior preço</option>
                <option id="itens" value="menor-preco">Menor preço</option>
            
            </select>
        </div>
    </div>

    <main>



        <aside>
            <div class="filtros">
                <div class="processador">
                    <h3 class="h3-filtro">Processador</h3>
                    <form class="filtragem-checkbox">
                        <label for="i3"><input type="checkbox" id="i3" name="processador" value="i3"> i3
                        <br>
                        <label for="i5"><input type="checkbox" id="i5" name="processador" value="i5"> i5
                        <br>
                        <label for="i7"><input type="checkbox" id="i7" name="processador" value="i7"> i7 
                        <br>
                        <label for="i9"> <input type="checkbox" id="i9" name="processador" value="i9"> i9 
                        <br>
                        <label for="amd"><input type="checkbox" id="amd" name="processador" value="amd"> AMD Ryzen™ 
                        <br>
                        <label for="apple-m1"><input type="checkbox" id="apple-m1" name="processador" value="apple-m1"> APPLE M1
                    </form>
                </div>

                <div class="processador">
                    <h3 class="h3-filtro">Tamanho de tela</h3>
                    <form class="filtragem-checkbox">
                        <label for="11-15"><input type="checkbox" id="11-15" name="tamano-de-tela" value="11-15"> 11" - 15"
                        <br>
                        <label for="17-21"><input type="checkbox" id="17-21" name="tamanho-de-tela" value="17-21"> 17" - 21"
                    </form>
                </div> 
                
                <div class="processador">
                    <h3 class="h3-filtro">Sistema operacional</h3>
                    <form class="filtragem-checkbox">
                        <label for="linux"><input type="checkbox" id="linux" name="processador" value="linux"> Linux
                        <br>
                        <label for="macos"><input type="checkbox" id="macos" name="processador" value="macos"> MacOs
                        <br>
                        <label for="windows"><input type="checkbox" id="windows" name="processador" value="windows"> Windows
                     </form>
                </div>

                <div class="processador">
                    <h3 class="h3-filtro">Armazenamento</h3>
                    <form class="filtragem-checkbox">
                        <label for="500gb"><input type="checkbox" id="500gb" name="processador" value="500gb"> 500 GB
                        <br>
                        <label for="1tb"><input type="checkbox" id="1tb" name="processador" value="1tb"> 1 TB
                        <br>
                        <label for="2tb"><input type="checkbox" id="2tb" name="processador" value="2tb"> 2 TB
                        <br>
                        <label for="4tb"> <input type="checkbox" id="4tb" name="processador" value="4tb"> 4 TB
                    </form>
                </div>

                <div class="processador">
                    <h3 class="h3-filtro">Memória RAM</h3>
                    <form class="filtragem-checkbox">
                        <label for="8gb"><input type="checkbox" id="8gb" name="processador" value="8gb"> 8 GB
                        <br>
                        <label for="16gb"><input type="checkbox" id="16gb" name="processador" value="16gb"> 16 GB
                        <br>
                        <label for="32gb"><input type="checkbox" id="32gb" name="processador" value="32gb"> 32 GB 
                        <br>
                        <label for="64gb"> <input type="checkbox" id="64gb" name="processador" value="64gb"> 64 GB
                        
                    </form>
                </div>

        </aside>
        <section>
            <div class="all-content">
                <div class="line-1">
                    <img id='notebooks' src="images/imagesProdutos/note1.png" alt="">
                    <div class="conteudo-card-meio">
                        <p class="titulo-card">Mackbookv Air Apple 13.3', Processador M! <br> 16gb, SSD 1TB, Space Grey MGQN3BZ/A</p></p>
                        <ul class="lista-atributos">
                            <!-- <li>PROCESSADOR M1</li>
                            <li>ATÉ 18 HORAS DE BATERIA</li>
                            <li>USB4</li>
                            <li>TOUCH ID</li> -->
                        </ul>
                        <P class="paragrafo-a-partir-de">A partir de</P>
                        <h3 class="valor-note">R$670,00</h3>
                        <p class="paragrafo-a-partir-de">por mês</p>
                    </div>
                    <button class="btn-reserva" onclick="window.location.href='/produto/301'">RESERVAR</button>
                </div>

                <div class="line-1">
                    <img id='notebooks' src="images/imagesProdutos/note2.png" alt="">
                    <div class="conteudo-card-meio">
                        <p class="titulo-card">Notebook Acer Aspire 5 Intel Core i5-10210U, 8GB RAM, SSD 256GB, 15.6 Full HD, Windows 11 Home, Prata - A515-54-57CS</p>
                        <ul class="lista-atributos">
                            <!-- <li>PROCESSADOR M1</li>
                            <li>ATÉ 18 HORAS DE BATERIA</li>
                            <li>USB4</li>
                            <li>TOUCH ID</li> -->
                        </ul>
                        <P class="paragrafo-a-partir-de">A partir de</P>
                        <h3 class="valor-note">R$390,00</h3>
                        <p class="paragrafo-a-partir-de">por mês</p>
                    </div>
                    <button class="btn-reserva" onclick="window.location.href='/produto/302'">RESERVAR</button>
                </div>

                <div class="line-1">
                    <img id="notebooks" src="images/imagesProdutos/note3.png" alt="">
                    <div class="conteudo-card-meio">
                        <p class="titulo-card">Notebook Gamer Lenovo IdeaPad Gaming 3i Intel Core i5-10300H, GeForce GTX 1650, 8GB RAM, SSD 256GB, Tela 15.6 FHD, Linux, Azul - 82CGS00100</p>
                        <ul class="lista-atributos">
                            <!-- <li>PROCESSADOR M1</li>
                            <li>ATÉ 18 HORAS DE BATERIA</li>
                            <li>USB4</li>
                            <li>TOUCH ID</li> -->
                        </ul>
                        <P class="paragrafo-a-partir-de">A partir de</P>
                        <h3 class="valor-note">R$570,00</h3>
                        <p class="paragrafo-a-partir-de">por mês</p>
                    </div>
                    <button class="btn-reserva" onclick="document.location.href='/produto/303'">RESERVAR</button>
                </div>

                <div class="line-1">
                    <img id="notebooks" src="images/imagesProdutos/note4.png" alt="">
                    <div class="conteudo-card-meio">
                        <p class="titulo-card">Notebook Gamer Acer Nitro 5 AMD Ryzen 7-4800H</p>
                        <ul class="lista-atributos">
                            <!-- <li>PROCESSADOR M1</li>
                            <li>ATÉ 18 HORAS DE BATERIA</li>
                            <li>USB4</li>
                            <li>TOUCH ID</li> -->
                        </ul>
                        <P class="paragrafo-a-partir-de">A partir de</P>
                        <h3 class="valor-note">R$590,00</h3>
                        <p class="paragrafo-a-partir-de">por mês</p>
                    </div>
                    <button class="btn-reserva" onclick="document.location.href='/produto/304'">RESERVAR</button>
                </div>

                <div class="line-1">
                    <img id="notebooks" src="images/imagesProdutos/note5.png" alt="">
                    <div class="conteudo-card-meio">
                        <p class="titulo-card">Notebook Asus AMD Ryzen 5-3500U, 8GB RAM, SSD 256GB, 15,6', Radeon Vega 8, Windows 11 Home, Cinza - M515DA-BR1213W</p>
                        <ul class="lista-atributos">
                            <!-- <li>PROCESSADOR M1</li>
                            <li>ATÉ 18 HORAS DE BATERIA</li>
                            <li>USB4</li>
                            <li>TOUCH ID</li> -->
                        </ul>
                        <P class="paragrafo-a-partir-de">A partir de</P>
                        <h3 class="valor-note">R$370,00</h3>
                        <p class="paragrafo-a-partir-de">por mês</p>
                    </div>
                    <button class="btn-reserva" onclick="document.location.href='/produto/305'">RESERVAR</button>
                </div>
                <div class="line-1">
                    <img id="notebooks" src="images/imagesProdutos/note6.png" alt="">
                    <div class="conteudo-card-meio">
                        <p class="titulo-card">Notebook Lenovo Ultrafino IdeaPad 3i</p>
                        <ul class="lista-atributos">
                            <!-- <li>PROCESSADOR M1</li>
                            <li>ATÉ 18 HORAS DE BATERIA</li>
                            <li>USB4</li>
                            <li>TOUCH ID</li> -->
                        </ul>
                        <P class="paragrafo-a-partir-de">A partir de</P>
                        <h3 class="valor-note">R$330,00</h3>
                        <p class="paragrafo-a-partir-de">por mês</p>
                    </div>
                    <button class="btn-reserva" onclick="document.location.href='/produto/306'">RESERVAR</button>

                </div>


            </div>
        </section>

        

    </main>

    <footer>
        <%- include('./partials/footer.ejs') %>
    </footer>

</body>

</html>