<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylesheets/styleperfil.css">
    <link rel="shortcut icon" type="imagem/x-icon" href="/img/icon.png">
    <title>EASE TOGETHER - PERFIL</title>
</head>


<body>
    <header>
        <%- include('./partials/navheader.ejs') %>

    </header>

    <div class="all-page-container">
        <section class="left-container">
            <div class="box-user-img">
                <img class="user-img" src="images/imagesPerfil/imagem-usuario.png" alt="">

            </div>
            <div class="user-name">Jonh Doe</div>

            <div class="addres-info">
                <h4 class="addres">Endereço</h4>
                <p><span>Rua:&nbsp;</span>Sete de Setembro, 4336</p>
                <p><span>CEP:&nbsp;</span>57980-095</p>
                <p><span>Cidade:&nbsp;</span>Barretos</p>
                <p><span>Estado:&nbsp;</span>São Paulo</p>
            </div>
            <div class="services-info">
                <h4 class="services">Serviços</h4>
                <a href="">
                    <p>Solicitar trocas e devoluções</p>
                </a>
                <a href="">
                    <p>Central de atendimento</p>
                </a>

            </div>

        </section>

        <section class="right-container">
            <div class="signatures-title">
                <h3>Minhas assinaturas</h3>
            </div>
            <div class="products-cards">
                <div class="card1">
                    <section class="tudao-card">
                        <div class="all-content">
                            <div class="item-info">
                                <ul class="ul-order">
                                    <li>pedido #17233709 </li>
                                    <li>realizado em 20/06/2022
                                    </li>
                                </ul>
                            </div>
                            <div class="item-content">
                                <div>
                                    <img class="img-item" src="images/imagesPerfil/note-prod.png" alt="">
                                </div>
                                <div class="item-description">
                                    <div class="item-info">
                                        <h4>Macbook Air Apple 13.3´, Processador M1, 16GB, SSD 1TB, Space Grey - MGQN3BZ/A</h4>
                                    </div>
                                    <div class="btn-and-value">
                                        <button class="btn-dias">Mensal</button>
                                        <h4 id="value">R$670.00</h4>
                                    </div>
                                </div>
                            </div>
                            <div class="time-promo">Tempo restante</div>
                            <div class="time-value">25 Dias</div>
                            <div class="btn-container-search">
                                <button class="btn-search">Procurar</button>
                            </div>
                        </div>
                    </section>
                </div>
                <div class="card2">
                    <section class="tudao-card">
                        <div class="all-content">
                            <div class="item-info">
                                <ul class="ul-order">
                                    <li>pedido #17233709 </li>
                                    <li>realizado em 20/06/2022
                                    </li>
                                </ul>
                            </div>
                            <div class="item-content">
                                <div>
                                    <img class="img-item2" src="images/imagesPerfil/note 2.png" alt="">
                                </div>
                                <div class="item-description">
                                    <div class="item-info">
                                        <h4>Notebook Gamer Lenovo 3i Intel Core i5-10300H, GeForce GTX 1650, 8GB RAM, SSD 256GB, Tela 15.6' Full HD WVA, Linux, Chameleon Blue - 82CGS00100</h4>
                                    </div>
                                    <div class="btn-and-value">
                                        <button class="btn-dias">Mensal</button>
                                        <h4 id="value">R$627.00</h4>
                                    </div>
                                </div>
                            </div>
                            <div class="time-promo">Tempo restante</div>
                            <div class="time-value">ASSINATURA ENCERRADA</div>
                            <div class="btn-container-search">
                                <button class="btn-search">Procurar</button>
                            </div>
                        </div>
                    </section>
                </div>
            </div>


        </section>

    </div>

    <footer>
        <%- include('./partials/footer.ejs') %>
    </footer>
</body>

</html>