<html lang="pt-BR">

<head>
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="stylesheets/styleproduto.css" media="screen" />
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css" />
    <link rel="stylesheet" type="text/css" href="stylesheets/produtostyle.css" />
    <link rel="icon" href="images/logos/gamer-logo-about 1.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer"
    />
    <script src="javascripts/script.js"></script>

    <title>Foxxer - de gamers para gamers</title>
</head>

<body>
    <%- include('./partials/navheader.ejs') %>




        <main>

            <div class="backgroundProduto">
                <div class="caixaProduto">
                    <h2 class="nomeProduto"> Microfone Gamer HyperX QuadCast, Antivibração, LED, Preto e Vermelho, Compatível com PC, Mac e Consoles - ID XXXXXXXX</h2>

                    <div class="telaProduto">

                        <div class="produtoDetalhes">

                            <div class="colunaProdutos">
                                <img class="imagenzinhaProduto" src="images/produto/mic1.png" alt="foto1">
                                <img class="imagenzinhaProduto" src="images/produto/mic2.png" alt="foto2">
                                <img class="imagenzinhaProduto" src="images/produto/mic3.png" alt="foto3">
                                <img class="imagenzinhaProduto" src="images/produto/mic4.png" alt="foto4">


                            </div>
                            <div class="fotoPrincipalProduto">
                                <img class="fotoProduto" src="images/produto/Foto Produto principal.png">
                            </div>
                        </div>
                        <div class="infoDolado">
                            <div class="avaliacao">
                                <div class="estrela-avaliacao">
                                    <a href="javascript:void(0)" onclick="Avaliar(1)">
                                        <img src="images/Hicon/star0.png" id="s1"></a>

                                    <a href="javascript:void(0)" onclick="Avaliar(2)">
                                        <img src="images/Hicon/star0.png" id="s2"></a>

                                    <a href="javascript:void(0)" onclick="Avaliar(3)">
                                        <img src="images/Hicon/star0.png" id="s3"></a>

                                    <a href="javascript:void(0)" onclick="Avaliar(4)">
                                        <img src="images/Hicon/star0.png" id="s4"></a>

                                    <a href="javascript:void(0)" onclick="Avaliar(5)">
                                        <img src="images/Hicon/star0.png" id="s5"></a>
                                </div>

                                <p id="rating">
                                    &nbsp;&nbsp;&nbsp;&nbsp;0</p>
                                <div class="127av">
                                    <span>| Avalie esse produto</span>
                                </div>
                            </div>
                            <div class="fretecoracao">
                                <div class="fretegratis">
                                    <img class="delivery" src="images/Hicon/Delivery.png"> <b>FRETE GRÁTIS</b>
                                </div>

                                <img class="delivery" src="images/Hicon/Heart.png">
                                <img class="delivery" src="images/Hicon/Share.png">

                            </div>
                            <div class="precoEcomprar">
                                <div class="precoPromocao">
                                    De R$ 1099,00
                                </div>
                                <div class="precoCerto">
                                    R$ 941,06
                                </div>
                                <div class="parcelamento">
                                    Em até 12x de R$78,42 sem juros no cartão
                                </div>
                                <div class="opcoesParcelamento">
                                    <a href="#openModal">Opções de parcelamento</a>

                                    <div id="openModal" class="modalDialog">
                                        <div>

                                            <a href="#close" title="Close" class="close">X</a>
                                            <div class="dentroPopup">
                                                <div class="headerPopUp">
                                                    <img src="images/Hicon/cartaometodopagamento.png">
                                                    <h1 class="metodoPagamento">OPÇÕES DE PARCELAMENTO</h1>
                                                </div>
                                                <div class="seletorMetodo">

                                                </div>
                                                <div class="tabelaPopUp">
                                                    <div class="roxao1">
                                                        <div class="parcelas">
                                                            À vista - Até 10% de desconto
                                                        </div>
                                                        <div class="total">
                                                            Total: R$ 799,90
                                                        </div>
                                                    </div>
                                                    <div class="roxinho">
                                                        <div class="parcelas">
                                                            2x sem juros de R$ 470,53
                                                        </div>
                                                        <div class="total">
                                                            Total: 941,06
                                                        </div>
                                                    </div>
                                                    <div class="roxao">
                                                        <div class="parcelas">
                                                            3x em juros de R$ 313,68
                                                        </div>
                                                        <div class="total">
                                                            Total: 941,06
                                                        </div>
                                                    </div>
                                                    <div class="roxinho">
                                                        <div class="parcelas">
                                                            4x sem juros de R$ 235,26
                                                        </div>
                                                        <div class="total">
                                                            Total: 941,06
                                                        </div>
                                                    </div>
                                                    <div class="roxao">
                                                        <div class="parcelas">
                                                            5x em juros de R$ 188,21
                                                        </div>
                                                        <div class="total">
                                                            Total: 941,06
                                                        </div>
                                                    </div>
                                                    <div class="roxinho">
                                                        <div class="parcelas">
                                                            6x sem juros de R$ 156,84
                                                        </div>
                                                        <div class="total">
                                                            Total: 941,06
                                                        </div>
                                                    </div>
                                                    <div class="roxao">
                                                        <div class="parcelas">
                                                            7x em juros de R$ 134,43
                                                        </div>
                                                        <div class="total">
                                                            Total: 941,06
                                                        </div>
                                                    </div>
                                                    <div class="roxinho">
                                                        <div class="parcelas">
                                                            8x sem juros de R$ 117,63
                                                        </div>
                                                        <div class="total">
                                                            Total: 941,06
                                                        </div>
                                                    </div>
                                                    <div class="roxao">
                                                        <div class="parcelas">
                                                            9x sem juros de R$ 104,56
                                                        </div>
                                                        <div class="total">
                                                            Total: 941,06
                                                        </div>
                                                    </div>
                                                    <div class="roxinho">
                                                        <div class="parcelas">
                                                            10x sem juros de R$ 94,10
                                                        </div>
                                                        <div class="total">
                                                            Total: 941,06
                                                        </div>
                                                    </div>
                                                    <div class="roxao">
                                                        <div class="parcelas">
                                                            11x sem juros de R$ 85,55
                                                        </div>
                                                        <div class="total">
                                                            Total: 941,06
                                                        </div>
                                                    </div>
                                                    <div class="roxinho1">
                                                        <div class="parcelas">
                                                            12x sem juros de R$ 78,42
                                                        </div>
                                                        <div class="total">
                                                            Total: 941,06
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="comprar">
                                    <div class="precoAvista">
                                        R$ 799,90
                                    </div>
                                    <a href="/"><img class="botaoComprar" src="images/Hicon/Button.png"></a>
                                </div>
                                <div class="descontoAvista">
                                    À vista no boleto ou PIX com 10% de desconto
                                </div>
                            </div>
                            <div class="caixaFrete">
                                <div class="freteTexto">
                                    Frete e prazo de entrega:
                                </div>
                                <div class="inputCep">
                                    <form class="formsCep">
                                        <label for="CEP">
                                        <input name="CEP" id="CEP" placeholder="xxxxx-xxx">
                                    </label>
                                        <input class="botaoCalcular" type="submit" value="Calcular">
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="botaoInfoProduto">
                        <ul class="botoesDIA">
                            <li> <a href="/"> Descrição</a></li>
                            <li> <a href="/"> Informações </a></li>
                            <li> <a href="/"> Avaliação </a></li>
                        </ul>
                    </div>
                    <br>
                    <br>
                    <div class="descricao-produto">
                        <div class="textoProduto">
                            <h4 class="textoProdutoh4">Microfone Gamer HyperX QuadCast</h4>
                            <br>
                            <p>
                                Você é streamer, criador de conteúdo ou player. Deseja se comunicar com som impecável para os seus seguidores? Conheça agora mesmo o Microfone Gamer HyperX QuadCast. Este microfone gamer oferece de forma independente todos os recursos necessários para
                                uma ótima gravação. A qualidade sonora é desempenhada por diversas tecnologias embutidas, capazes de reduzir os ruídos e oferecer uma alta estabilidade sonora.
                            </p>
                            <br>
                            <h4 class="textoProdutoh4">Microfone condensador Electret e Design Gamer com LED</h4>
                            <br>
                            <p>O Microfone gamer Quadcast possui uma base antivibratória e ajuda a amortecer sons percussivos, o usuário também pode observar o status do microfone através do seu indicador de LED, dessa forma pode ser monitorado e ajustado
                                se for necessário, garantindo qualidade na transmissão. Além de uma iluminação em LED incrível.</p>
                            <br>
                            <h4 class="textoProdutoh4">Compatível com PC, Mac e Consoles</h4>
                            <br>
                            <p>O Quadcast possui 4 perfis padrões auditivos, o estéreo, omnidirecional, cardioide e bidirecional, onde cada um possui sensibilidade de acordo com o cenário da gravação. Também é possível conectar o microfone aos consoles,
                                PC ou MAC, podendo ser sintonizado em diferentes plataformas, como Discord e TeamSpeak. Proporcione aos seus seguidores uma gravação profissional e de muita qualidade.</p>
                            <br>
                            <h4 class="textoProdutoh4"> Garanta já seu Microfone HyperX aqui no Foxxer Gaming!</h4>
                        </div>
                    </div>

                    <br>
                    <div class="informacao-produto">
                        <div class="textoProduto">
                            <div class="fotoinformacao-produto">
                                <img src="images/produto/micinfo.png">
                            </div>
                            <h1 class="textoProdutoh1">HyperX QuadCast</h1>
                            <br>
                            <p>
                                O HyperX QuadCast™ é o microfone independente com todos os recursos para o streamer ou podcaster que procura um microfone com som de qualidade. O QuadCast vem com sua própria base 'shock mount' antivibração para ajudar a reduzir os ruídos da vida diária
                                e um filtro integrado para amortecer sons percussivos desagradáveis. Saiba instantaneamente o status do seu microfone com o indicador em LED e simplesmente toque para coloca-lo em mudo para evitar acidentes inconvenientes
                                na transmissão. Selecione entre os quatro padrões polares (estéreo, omnidirecional, cardióide, bidirecional) e use o prático botão de controle para ajustar rapidamente a sensibilidade de entrada do seu microfone. O adaptador
                                de montagem incluído que se adapta a tamanhos de fio de 3/8 e 5/8 pol. é compatível com a maioria dos pedestais. Monitore o som do seu microfone com a entrada do fone de ouvido integrada. O QuadCast é certificado pela Discord
                                e TeamSpeak™ para que você possa garantir que seu microfone esteja transmitindo alto e claro para todos os seus seguidores e ouvintes. Conectando-se a um PC, PS4™ ou Mac® você poderá transmitir um som de qualidade para
                                quem estiver sintonizado.
                            </p>
                            <div class="selos-produtos">
                                <img class="selos" src="images/Hicon/designaward.png">
                                <img class="selos" src="images/Hicon/discord.png">
                                <img class="selos" src="images/Hicon/ts.png">
                            </div>

                        </div>
                    </div>
                    <br>
                    <div class="pagina-avaliacao-produto">
                        <div class="avaliacoes-produto">
                            <div class="textoProduto">
                                <div class="avaliacaoProdutoEstrela">
                                    <div class="estrela roxa">
                                        <img src="images/Hicon/estrelaroxa.png">
                                    </div>
                                    <div class="h1avaliacaoproduto">
                                        <h1> Avaliações dos usuários</h1>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="mediaAvaliacao">
                            <div class="notaGeral">
                                <h2>4.0</h2>
                            </div>
                            <div class="estrelas">
                                <img class="estrelaroxa" src="images/Hicon/estrelaroxa.png">
                                <img class="estrelaroxa" src="images/Hicon/estrelaroxa.png">
                                <img class="estrelaroxa" src="images/Hicon/estrelaroxa.png">
                                <img class="estrelaroxa" src="images/Hicon/estrelaroxa.png">
                                <img class="estrelavazia" src="images/Hicon/estrelavazia.png">

                            </div>
                            <div class="totalAvaliacao">
                                <p> 172 Avaliações</p>
                            </div>
                        </div>

                        <div class="avaliacoesClientes">
                            <div class="caixaAvaliacao">
                                <div class="avaliacaoIndividual">
                                    <div class="nomeEstrelaAvaliacao">
                                        <div class="nomeData">
                                            <div>Alexandre Carneiro</div>
                                            <div>(22/02/2022)</div>
                                        </div>
                                        <div class="estrelasAvaliacao">
                                            <img src="images/Hicon/estrelaroxa.png">
                                            <img src="images/Hicon/estrelaroxa.png">
                                            <img src="images/Hicon/estrelaroxa.png">
                                            <img src="images/Hicon/estrelaroxa.png">
                                            <img src="images/Hicon/estrelaroxa.png">
                                        </div>

                                    </div>
                                    <p class="opiniaoPessoal"> Som perfeito, opções de captação, possibilidade de usar outros suportes</p>
                                </div>
                            </div>
                            <div class="caixaAvaliacao">
                                <div class="avaliacaoIndividual">
                                    <div class="nomeEstrelaAvaliacao">
                                        <div class="nomeData">
                                            <div>Diego Tokunaga</div>
                                            <div>(13/07/2021)</div>
                                        </div>
                                        <div class="estrelasAvaliacao">
                                            <img src="images/Hicon/estrelaroxa.png">
                                            <img src="images/Hicon/estrelaroxa.png">
                                            <img src="images/Hicon/estrelaroxa.png">
                                            <img src="images/Hicon/estrelaroxa.png">
                                            <img src="images/Hicon/estrelaroxa.png">
                                        </div>

                                    </div>
                                    <p class="opiniaoPessoal"> Plug in play - Produto com excelente acabamento - captação de áudio muito boa</p>
                                </div>
                            </div>
                            <div class="caixaAvaliacao">
                                <div class="avaliacaoIndividual">
                                    <div class="nomeEstrelaAvaliacao">
                                        <div class="nomeData">
                                            <div>Jeferson Patricio</div>
                                            <div>(05/03/2021)</div>
                                        </div>
                                        <div class="estrelasAvaliacao">
                                            <img src="images/Hicon/estrelaroxa.png">
                                            <img src="images/Hicon/estrelaroxa.png">
                                            <img src="images/Hicon/estrelaroxa.png">
                                            <img src="images/Hicon/estrelaroxa.png">
                                            <img src="images/Hicon/estrelaroxa.png">
                                        </div>

                                    </div>
                                    <p class="opiniaoPessoal"> Microfone muito bom, recomendo para todos que querem uma boa qualidade para gravar videos e fazer lives</p>
                                </div>
                            </div>
                        </div>
                    </div>


        </main>
        <%- include('./partials/footer.ejs') %>
</body>


</html>