* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

main {
    background-color: #E2E8F0;
    overflow-x: hidden;
}


/* NAVBAR -ALE */

a {
    color: #ffff;
    text-decoration: none;
}

.logo {
    width: 55px;
    height: 55px;
    background-image: url(./public/img/logos/gamer-logo-about\ 1.png);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.login-vermelho {
    color: #ED1C24;
    margin: 0;
    padding: 0;
}

.mobile-menu {
    display: none;
    cursor: pointer;
}

.mobile-menu div {
    width: 32px;
    height: 2px;
    background: #fff;
    margin: 8px;
}

@media (max-width: 1500px) {
    body {
        overflow-x: hidden;
    }
    .nav-list {
        position: absolute;
        top: 8vh;
        right: 0;
        width: 50vw;
        height: 92vh;
        background: #150737;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        opacity: 0.9;
        transform: translate(100%);
        transition: transform 0.3s ease-in;
    }
    .nav-list li {
        margin-left: 0;
        opacity: 0;
    }
    .mobile-menu {
        display: block;
    }
    .nav-list.active {
        transform: translate(0);
    }
}

@media (max-width: 790px) {
    #fdp1 {
        display: none;
    }
    #fdp2 {
        display: none;
    }
    #fdp3 {
        display: none;
    }
    #fdp-logo {
        display: none;
    }
}

.btn-heart {
    /* Heart */
    height: 23.88px;
    width: 33.88px;
    left: 72.8%;
    right: 25.96%;
    top: 36.62%;
    bottom: 34.27%;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    /* Group */
    left: 72.8%;
    right: 25.96%;
    top: 36.62%;
    bottom: 34.27%;
    /* Vector */
    left: 72.8%;
    right: 25.96%;
    top: 36.62%;
    bottom: 34.27%;
    background: url(./public/img/logos/Heart.png)
}

.btn-shopping-cart {
    /* Shopping Cart */
    height: 23.88px;
    width: 33.88px;
    left: 76.68%;
    right: 22.07%;
    top: 38.03%;
    bottom: 33.21%;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    /* Group */
    left: 76.68%;
    right: 22.07%;
    top: 38.03%;
    bottom: 33.21%;
    /* Vector */
    left: 76.91%;
    right: 22.07%;
    top: 41.26%;
    bottom: 40.76%;
    /* Vector */
    left: 77.18%;
    right: 22.74%;
    top: 64.63%;
    bottom: 33.21%;
    /* Vector */
    left: 77.58%;
    right: 22.34%;
    top: 64.63%;
    bottom: 33.21%;
    /* Vector */
    left: 77.48%;
    right: 22.15%;
    top: 50.25%;
    bottom: 49.75%;
    /* Vector */
    left: 76.68%;
    right: 23.09%;
    top: 38.03%;
    bottom: 58.61%;
    background: url(./public/img/logos/Shopping\ Cart.png);
}

.btn-user {
    /* icon */
    height: 23.88px;
    width: 33.88px;
    left: 1546.9px;
    top: 26.73px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    /* Vector */
    left: 80.57%;
    right: 18.5%;
    top: 55.34%;
    bottom: 34.62%;
    /* Vector */
    left: 81.28%;
    right: 18.23%;
    top: 49.79%;
    bottom: 37.04%;
    background: url(./public/img/logos/icon.png);
}

nav {
    position: fixed;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Raleway', sans-serif;
    background: #150737;
    height: 8vh;
    width: 100vw;
    z-index: 2;
}

.nav-list {
    list-style: none;
    display: flex;
}

.nav-list li {
    line-height: 21px;
    font-weight: 400;
    font-style: normal;
    align-items: center;
    display: flex;
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
    margin-left: 32px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.input-nav {
    /* Rectangle 21 */
    width: 384px;
    height: 34px;
    left: 970px;
    top: 19px;
    background: #F7F7F7;
    border: 1px solid #000000;
    padding-left: 10px;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 13px;
}

.nav-cadastro {
    /* Faça seu login ou cadastre-se */
    letter-spacing: 3px;
    width: 200px;
    height: 38px;
    left: 1592px;
    top: 17px;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    color: red;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}


/* CARROSSEL - DIEGO */

.carousel {
    width: 100vw;
    height: 75vh;
    box-sizing: border-box;
    padding: 0px;
    background-color: #000000;
}

.galeria {
    width: 101%;
    height: 100%;
    overflow: hidden;
    padding: 0%;
}

.galeria .fotos {
    width: 500%;
    padding: 0px;
    animation-name: animacao;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

.galeria .fotos img {
    width: 19.9%;
}

a:hover {
    text-decoration: none;
}

.mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
    opacity: 0;
}

.mobile-menu.active .line3 {
    transform: rotate(60deg) translate(-5px, -7px);
}

@keyframes animacao {
    0% {
        margin-left: 0;
    }
    20% {
        margin-left: 0;
    }
    25% {
        margin-left: -100%;
    }
    45% {
        margin-left: -100%;
    }
    50% {
        margin-left: -200%;
    }
    70% {
        margin-left: -200%;
    }
    75% {
        margin-left: -300%;
    }
    100% {
        margin-left: -300%;
    }
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translate(0);
    }
}

hr {
    opacity: 0.3;
    width: 20%;
    height: 1px;
    background-color: rgb(102, 94, 94);
}

.barra-divisao-container {
    height: 50px;
    width: 100vw;
    background: #8135CE;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.texto-info {
    margin-left: 200px;
    color: #fff;
    font-size: 25px;
}

.timer-oferta {
    margin-right: 200px;
    color: #fff;
    font-size: 25px;
}


/* CARROSSEL PROMOÇOES - THAY */

.divprincipal {
    width: 100vw;
    display: flex;
    box-sizing: border-box;
}

.carouselpromo {
    width: 100vw;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    overflow: hidden;
    box-sizing: border-box;
}

ul.slides {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    position: relative;
    height: 500px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    list-style: none;
}

.buttons-carrossel>.box1>.box2>.box3>.box4 {
    transition: all 500ms ease;
}

.buttons-carrossel>input[type="radio"]:nth-child(1):checked~.box1 {
    transform: translateX(0%);
}

.buttons-carrossel>input[type=radio]:nth-child(2):checked~.box2 {
    transform: translateX(-100%);
}

.buttons-carrossel>input[type="radio"]:nth-child(3):checked~.box3 {
    transform: translateX(-200%);
}

.buttons-carrossel>input[type="radio"]:nth-child(4):checked~.box4 {
    transform: translateX(-300%);
}

input[type="radio"] {
    all: unset;
    border: #989898 1px solid;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    margin: 2px;
    background-color: #989898;
}

.slides * {
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}

ul.slides input {
    display: none;
    box-sizing: border-box;
}

.slide-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.slide-image {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100vw;
    height: 500px;
    top: 0;
    opacity: 0;
    transition: all .7s ease-in-out;
}

.slide-image {
    width: 100vw;
    min-width: 100%;
    height: 100%;
}

.carousel-controls {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    font-size: 100px;
    line-height: 600px;
    color: #1E293B;
}

.carousel-controls label {
    display: none;
    position: absolute;
    padding: 0 20px;
    opacity: 0;
    transition: opacity .2s;
    cursor: pointer;
}

.slide-image:hover+.carousel-controls label {
    opacity: 0.5;
}

.carousel-controls label:hover {
    opacity: 1;
}

.carousel-controls .prev-slide {
    width: auto;
    text-align: left;
    left: 0;
}

.carousel-controls .next-slide {
    width: auto;
    text-align: right;
    right: 0;
}

.carousel-dots {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 20px;
    z-index: 0;
    text-align: center;
}

.carousel-dots .carousel-dot {
    display: inline-flex;
    position: relative;
    top: 10px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #989898;
    opacity: 0.5;
    margin: 10px;
}

.carousel-dot:checked .carousel-dots:checked {
    background-color: #ED1C24;
}

input:checked+.slide-container .slide-image {
    opacity: 1;
    transform: scale(1);
    transition: opacity 1s ease-in-out;
}

input:checked+.slide-container .carousel-controls label {
    display: block;
}

input#img-1:checked~.carousel-dots label#img-dot-1,
input#img-2:checked~.carousel-dots label#img-dot-2,
input#img-3:checked~.carousel-dots label#img-dot-3,
input#img-4:checked~.carousel-dots label#img-dot-4 {
    opacity: 1;
}

input:checked+.slide-container .nav label {
    display: flex;
}


/* config antiga */

.box1 {
    width: 100%;
    height: 500px;
    border: solid 1px red;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0;
}

.box2 {
    width: 100vw;
    height: 500px;
    border: solid 1px blue;
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-snap-align: start;
    padding: 10%;
    box-sizing: border-box;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0;
}

.box3 {
    width: 100vw;
    height: 500px;
    border: solid 1px yellow;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0;
}

.box4 {
    width: 100vw;
    height: 500px;
    border: solid 1px green;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0;
}

.carrossel-box {
    width: 288px;
    height: 386px;
    border-radius: 7px;
    background-color: #FFFFFF;
    border: solid 1px #FFFFFF;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-items: center;
}

#mouse {
    width: 125px;
    height: 125px;
}

#micro #fone #stream #monitor {
    width: 123px;
    height: 123px;
}

#titlebox {
    color: #000000;
    width: 210px;
    font-family: 'Raleway';
    width: 235px;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    text-align: justify;
    display: flex;
    align-items: center;
}

#preçoantigo {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 14px;
    line-height: 16px;
    width: 210px;
    position: relative;
    left: 2px;
    text-decoration-line: line-through;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #D3D3D3;
}

#preçoreal {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font: bold;
    font-weight: 800;
    font-size: 36px;
    line-height: 42px;
    display: flex;
    align-items: center;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #ED1C24;
}

#legenda {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font: bold;
    font-weight: 800;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #D3D3D3;
}

#botãobox {
    width: 219px;
    height: 46px;
    background: #ED1C24;
    border-radius: 7px;
    border: none;
    color: #FFFFFF;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    cursor: pointer;
}

#botãobox:focus {
    outline: #150737 solid 1px;
}

#botãobox:hover {
    outline: #8135CE solid 1px;
}

#carrinhocompras {
    position: relative;
    right: 10px;
    top: 3px;
}

h6 {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 28px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.05em;
    color: #FFFFFF;
}


/* CATEGORIAS PRINCIPAIS - DIEGO */

.textoh2 {
    text-transform: uppercase;
    display: flex;
    text-align: center;
    justify-content: center;
    font-family: 'Raleway', sans-serif;
    padding-bottom: 10px;
}

.categorias-principais {
    padding: 1.9%;
    width: 100vw;
}

.cat-principal-flex {
    display: flex;
    border: solid 1px yellow;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    padding: 1.5%;
}

.cat {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
}


/* categorias produtos por ordem da thay*/

.container-categoria-produto {
    width: 100%;
    height: 200px;
    background: red;
    display: flex;
    justify-content: space-evenly;
}

.categoria-produto1 {
    width: 370px;
    height: 200px;
    background: url(/public/img/Xbox\ series\ S\ \(1\).png);
    border-radius: 30px;
}

.categoria-produto2 {
    width: 400px;
    height: 200px;
    background: yellow;
    border-radius: 30px;
}

.categoria-produto3 {
    width: 400px;
    height: 200px;
    background: yellow;
    border-radius: 30px;
}


/* FOOTER - JEF */

footer {
    height: 540px;
    background-color: #150737;
    color: white;
    position: relative;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    letter-spacing: 0.05em;
    line-height: 26px;
}

.container-footer {
    width: 60%;
    display: flex;
    align-items: flex-start;
}

.container-footer ul {
    list-style-type: none;
}

.container-footer hr {
    margin-bottom: 30px;
    opacity: 0;
}

.caixaContato {
    width: 40%;
    height: 60px;
    position: absolute;
    background-color: #8135CE;
    display: flex;
    align-items: center;
    border-radius: 12px;
    left: 10%;
    justify-content: space-evenly;
    top: -30px;
}

.contato {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 5px;
    padding: 1px;
    width: 50%;
    font-size: 25px;
}

.contato img {
    height: 32px;
}

.boxForm {
    width: 100%;
}

.form {
    width: 100%;
    display: flex;
    flex-direction: row;
    top: 60px;
    position: absolute;
    justify-content: center;
    background-color: #8135CE;
    height: 75px;
    border: 30px;
    align-items: center;
}

.form p {
    width: 20%;
    font-size: 16px;
    line-height: 21px;
    display: flex;
    text-align: center;
    letter-spacing: 0.05em;
    font-weight: bolder;
}

#nome input {
    width: 20vw;
    height: 45px;
    margin: 8px;
    padding: 15px;
    border-radius: 12px;
    border: solid 1px #8135CE;
    font-size: 20px;
}

#mail input {
    width: 20vw;
    height: 45px;
    margin: 8px;
    padding: 15px;
    border-radius: 10px;
    border: solid 1px #8135CE;
    font-size: 20px;
}

.ofertas button {
    width: 100%;
    height: 45px;
    margin: 8px;
    text-align: center;
    padding: 8px 30px;
    border-radius: 10px;
    border: solid 1px #8135CE;
    color: #F7F7F7;
    background-color: #ED1C24;
    font-size: 19px;
    font-weight: 500;
}

.ofertas button:active {
    transform: scale(0.98);
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
    border: solid 2px rgb(120, 18, 18);
}

.links {
    display: flex;
    position: absolute;
    top: 150px;
    margin: 0% 9%;
    font-size: 22px;
    font-weight: 400;
}

.main-category {
    display: flex;
}

ul.main-category {
    display: flex;
    flex-direction: column;
    margin: 15px;
    padding: 15px;
    font-size: 22px;
    font-weight: 400;
}

.main-category li {
    display: flex;
    padding-bottom: 13px;
    top: 30px;
    justify-content: flex-start;
}

.main-category h7 {
    color: #ED1C24;
    font-weight: bolder;
    font-size: 28px;
}

.container-cards {
    margin-left: 40px;
    display: flex;
    flex-direction: column;
    padding: 30px;
}

.container-cards p {
    font-weight: bolder;
    text-transform: uppercase;
    color: #ED1C24;
    font-size: 28px;
}

.cards {
    display: grid;
    grid-template-columns: 58px 59px 59px;
    gap: 15px;
}

.container-cards hr {
    opacity: 0;
    width: 20%;
    height: 1px;
    margin-bottom: 30px;
}

.social-media {
    display: flex;
    align-content: flex-end;
    justify-content: center;
    flex-wrap: wrap;
    padding: 62px;
}

.logos {
    width: 219px;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 20px;
}

.slogan {
    width: 240px;
    display: flex;
    align-items: center;
    flex-direction: row;
    text-align: center;
    letter-spacing: 0.05em;
    color: #8135CE;
    font-weight: bolder;
    font-size: 26px;
}