* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #EAEAEA;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section1 {
    width: 80vw;
    height: 10vh;
    margin: 20px;
}

h1 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    color: #2F546B;
    margin-top: 50px;
    margin-left: 20px;
}

.section2 {
    display: flex;
    flex-direction: column;
}

.box {
    background-color: #F8FAFC;
    border-radius: 15px;
    width: 70vw;
    height: 300px;
    border: none;
    margin: 20px;
    display: flex;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    flex-direction: column;
}

#div-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
}

#img {
    width: 14px;
    height: 15px;
    margin-right: 140px;
}

#product {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 16px;
    color: #2F546B;
    position: relative;
    right: 250px;
}

h3 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 12px;
    color: #979797;
}

#note {
    width: 108px;
    height: 69;
    margin-top: 60px;
}

.div-content2 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.sub-div {
    margin-top: 60px;
    position: relative;
    right: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h5 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 11px;
    color: #000000;
    text-align: center;
    margin: 10px;
}

#button-remove {
    width: 120px;
    height: 20px;
    border: none;
    background-color: #F8FAFC;
    color: #DF5B43;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 30px;
    cursor: pointer;
}

#button1 {
    position: relative;
    right: 70px;
    top: 30px;
    width: 120px;
    height: 30px;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    background-color: #DF5B43;
    color: #F8FAFC;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 10px;
}

#value {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 12px;
    color: #2F546B;
    position: relative;
    right: 20px;
    top: 30px;
}

.img2 {
    position: relative;
    right: 140px;
    width: 13px;
    height: 14px;
}

#end {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 16px;
    color: #2F546B;
    position: relative;
    right: 540px;
}

.div-end {
    margin-top: 20px;
    width: 200px;
    height: 100px;
    margin-top: 60px;
    background-color: #F4F4F5;
    border-radius: 7.28363px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: left;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

#title {
    margin-left: 20px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    line-height: 13px;
}

#text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    line-height: 10px;
    color: #979797;
    margin-left: 20px;
}

.div-end:hover {
    background-image: url('/IMG/divend.png');
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
}

.div-buttons {
    width: 30vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 130px;
}

#button2 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 10px;
    color: #979797;
    border: none;
    background-color: #EAEAEA;
    cursor: pointer;
}

#button2:hover {
    color: #2F546B;
}

#button3 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 10px;
    color: #2F546B;
    border: none;
    background-color: #EAEAEA;
    cursor: pointer;
}

#button3:hover {
    color: #979797;
}

.section4 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.boxcontent {
    width: 32vw;
    height: 250px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    background-color: #F4F4F5;
    border-radius: 12px;
    margin-bottom: 50px;
    margin-top: 20px;
    margin-left: 35px;
    margin-right: 35px;
}

#frete {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 16px;
    color: #2F546B;
    position: relative;
    margin: 20px;
}

.form {
    height: 210px;
}

#form-frete {
    margin-left: 20px;
}

#cep {
    width: 200px;
    height: 25px;
    border: #2F546B 2px solid;
    border-radius: 5px;
}

#cep::placeholder {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 10.7206px;
    line-height: 13px;
    color: #979797;
}

#button-ok {
    width: 26px;
    height: 24px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 10.7206px;
    line-height: 13px;
    color: #F4F4F5;
    background-color: #2F546B;
    border-radius: 3px;
    border: none;
    margin-left: 20px;
    cursor: pointer;
}

#link {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 9.95488px;
    line-height: 12px;
    display: flex;
    align-items: center;
    text-decoration-line: underline;
    color: #2F546B;
    position: relative;
    left: 140px;
    margin-top: 10px;
    margin-bottom: 20px;
}

h3 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 14px;
    color: #979797;
}

h5 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    font-size: 15px;
    line-height: 12px;
    color: #000000;
}

.resto {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 30px;
}

h4 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 13px;
    color: #979797;
    margin-left: 10px;
}

#revisao {
    width: 14px;
    height: 14px;
    margin-right: 140px;
}

#title-revisao {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 16px;
    color: #2F546B;
    position: relative;
    right: 230px;
    margin: 20px;
}

.seila {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.seila2 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 10px;
}

#detail {
    position: relative;
    left: 190px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 10px;
    line-height: 10px;
    color: #000000;
    margin-bottom: 10px;
}

#pagamento {
    width: 200px;
    height: 30px;
    color: #F4F4F5;
    background-color: #2F546B;
    border-radius: 3px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    font-size: 13.2868px;
    line-height: 16px;
    border: none;
    cursor: pointer;
    margin-left: 10px;
    margin-top: 10px;
}

#continuar {
    width: 200px;
    height: 30px;
    color: #DF5B43;
    border: #DF5B43 solid 1px;
    background-color: #F4F4F5;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    font-size: 13.2868px;
    line-height: 16px;
    border-radius: 3px;
    cursor: pointer;
    margin-right: 10px;
    margin-top: 10px;
}