/* página de produtos */

* {
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    margin: auto;
}

main {
    background-color: #E2E8F0;
    overflow-x: hidden;
}


/* CSS - PAGE CARRINHO - FINALIZAÇÃO DE COMPRA (THAY) */

.div-mãe {
    width: 100vw;
    height: auto;
    padding: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.grande-divisor1 {
    width: 990px;
}

.grande-divisor2 {
    margin-top: 10%;
    margin-left: 60px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}

.passo-a-passo {
    width: 80 vw;
    height: auto;
    margin-top: 80px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

#button-pizza {
    width: 267px;
    height: 41px;
    background: #ED1C24;
    border: #ED1C24 solid 1px;
    border-radius: 12px;
    color: #FFFFFF;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    margin: 10px;
    cursor: pointer;
}

#carrinho-colorido {
    width: 40px;
    height: 40px;
    margin: 10px;
}

#arrow {
    width: 70px;
    height: 5px;
    margin: 10px;
}

#dados {
    width: 52px;
    height: 52px;
}

#cartao {
    width: 48px;
    height: 48px;
}

#olho {
    width: 52px;
    height: 52px;
}

#ok {
    width: 50px;
    height: 50px;
}

.produto {
    width: 990px;
    height: 204px;
    background: #F8FAFC;
    border-radius: 12px;
}

hr {
    border: solid 1px grey;
    width: auto;
    height: 1px;
}

#carrinhoo {
    width: 20px;
    height: 20px;
    margin: 10px;
}

#texto-produto {
    color: #8135CE;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    position: relative;
    bottom: 5%;
}

#micro {
    width: 95px;
    height: 95px;
    margin: 10px;
    position: relative;
    top: 10px;
}

#texto1 {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    color: #000000;
    position: relative;
    top: 14px;
    right: 20px;
}

.bloco {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.texto-valor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    top: 15px;
}

#texto2 {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #000000;
}

input[type=number] {
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

.number-input {
    border: 0;
    display: inline-flex;
    align-items: center;
}

.number-input,
.number-input * {
    box-sizing: border-box;
}

.number-input button {
    outline: none;
    -webkit-appearance: none;
    background-color: transparent;
    border: none;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    cursor: pointer;
    margin: 0;
    position: relative;
    border-radius: 50%;
}

.number-input button:before,
.number-input button:after {
    display: inline-block;
    position: absolute;
    content: '';
    width: 10px;
    height: 2px;
    background-color: #000000;
    transform: translate(-50%, -50%);
}

.number-input button.plus:after {
    transform: translate(-50%, -50%) rotate(90deg);
}

.number-input input[type=number] {
    font-family: 'Raleway', sans-serif;
    max-width: 20px;
    border: none;
    border-width: 0 2px;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    color: #000000;
    background-color: #F8FAFC;
}

#button-remove {
    background-color: #F8FAFC;
    border: none;
    cursor: pointer;
}

#remover {
    width: 126px;
    height: 32px;
}

#preço-a-vista {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 15px;
}

#valor-valor {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    color: #8135CE;
    position: relative;
    left: 23px;
}

.endereço {
    width: 990px;
    height: 204px;
    background: #F8FAFC;
    border-radius: 12px;
    margin-top: 20px;
}

#mapa {
    width: 20px;
    height: 20px;
    margin: 10px;
}

#endereço-title {
    color: #8135CE;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    margin: 10px;
    position: relative;
    bottom: 10px;
    right: 10px;
}

.div-mae-end {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    top: 20px;
    left: 5px;
}

.endereço1 {
    width: 242px;
    height: 106px;
    background-color: #F1F5F9;
    border-radius: 12px;
}

.endereço1:hover,
.endereço1:focus {
    background-image: url("../images/carrinhopage/background1.png");
}

#button-endereço {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

#h1 {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    position: relative;
    right: 20px;
    top: 5px;
}

#p1 {
    position: relative;
    left: 20px;
    top: 5px;
    color: #979797;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-align: justify;
}

.endereço2 {
    width: 300px;
    height: 106px;
    background-color: #F1F5F9;
    border-radius: 12px;
}

.endereço2:hover,
.endereço2:focus {
    background-image: url('../images/carrinhopage/background1.png');
    background-repeat: no-repeat;
}

#h2 {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    position: relative;
    right: 40px;
    top: 5px;
}

#p2 {
    position: relative;
    left: 22px;
    top: 5px;
    color: #979797;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-align: justify;
}

#buttonEnd {
    color: 979797;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    background-color: transparent;
    border: none;
    color: #979797;
    cursor: pointer;
}

#buttonEnd:hover,
#buttonEnd:focus {
    color: #8135CE;
}

.frete {
    width: 990px;
    height: 214px;
    background: #F8FAFC;
    border-radius: 12px;
    margin-top: 30px;
}

#caminhao {
    width: 20px;
    height: 20px;
    margin: 10px;
}

#frete-title {
    color: #8135CE;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    margin: 10px;
    position: relative;
    bottom: 10px;
    right: 10px;
}

.jadlog-box,
.correios-box,
.sedex-box,
.express-box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 10px;
}

#radio {
    appearance: none;
    border: 1px solid #8135CE;
    background-color: transparent;
    margin-left: 30px;
    width: 10px;
    height: 10px;
}

#radio:checked {
    background-image: url('../images/carrinhopage/Ellipse\ 2.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 80%;
}

label {
    margin: 5px;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    color: #000000;
}

.star {
    margin-left: 300px;
}

.star1 {
    margin-left: 242px;
}

.star2 {
    margin-left: 311px;
}

.star3 {
    margin-left: 244px;
}

#star {
    margin-left: 10px;
}

#valores {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    color: #A4A4B7;
    margin-left: 300px;
}

#radio:checked~#valores {
    color: #8135CE;
}

.cupom {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.cupom2 {
    Width: 60%;
    Height: 61px;
    background: #F8FAFC;
    border-radius: 12px;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: #A4A4B7;
    border: #F8FAFC;
}

.cupom2::placeholder {
    color: #A4A4B7;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
}

.cupom2 input:focus {
    outline: none;
}

#aplicar {
    width: 30%;
    height: 61px;
    background: #8135CE;
    border-radius: 12px;
    margin: 20px;
    border: 1px solid #8135CE;
    cursor: pointer;
    color: #FFFFFF;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
}

.revisão {
    width: 480px;
    height: 284px;
    background: #F8FAFC;
    border-radius: 12px;
}

#busca {
    width: 25px;
    height: 25px;
    margin: 10px;
}

#revisao-title {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #8135CE;
    margin-left: 10px;
    position: relative;
    bottom: 15px;
}

#texto-revisao {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #7C7D7E;
}

#valor-revisao {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
}

.valor-revisao {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 10px;
    margin-top: 30px;
}

#total {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #7C7D7E;
    position: relative;
    left: 12%;
}

#frete {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #7C7D7E;
}

.divisao2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 20px;
}

.divisao3 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 20px;
}

#frete {
    position: relative;
    right: 5%;
}

#valor-revisao1 {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    position: relative;
    left: 6%;
}

#valor-revisao2 {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    text-align: right;
    color: #000000;
    position: relative;
    left: 44%;
}

#ate12x {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 14px;
    line-height: 21px;
    text-align: right;
    color: #000000;
    position: relative;
    top: 20px;
    right: 11%;
    margin-top: 10px;
}

.valor {
    width: 480px;
    height: 473px;
    border-radius: 12px;
    background-color: #F8FAFC;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

#texto-pix {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 28px;
    color: #8135CE;
    position: relative;
    top: 5%;
    right: 100px;
}

#preço {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    line-height: 56px;
    color: #8135CE;
    position: relative;
    top: 5%;
    left: 60px;
}

#preço2 {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    color: #8135CE;
    position: relative;
    bottom: 5%;
    left: 60px;
}

#button-pagamento {
    background-color: #8135CE;
    color: #FFFFFF;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 28px;
    cursor: pointer;
    border: solid 1px #8135CE;
    border-radius: 12px;
    width: 384px;
    height: 60px;
    margin-bottom: 10px;
    position: relative;
    bottom: 10%;
}

#button-continuar {
    background-color: transparent;
    color: #ED1C24;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 28px;
    border: 2px solid #ED1C24;
    border-radius: 12px;
    width: 384px;
    height: 60px;
    margin-top: 10px;
    cursor: pointer;
    position: relative;
    bottom: 10%;
}


/* CSS - PAGE CARRINHO (THAY) */

.div-principal {
    width: 100vw;
    height: 100vh;
    padding: 100px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    border: solid 1px black;
}

#carrinho {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

#title {
    width: auto;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 36px;
    line-height: 42px;
    display: flex;
    align-items: center;
    letter-spacing: 0.05em;
    color: #8135CE;
    margin: 20px;
}

.box-white {
    width: 80vw;
    height: 60vh;
    border-radius: 12px;
    background-color: #F8FAFC;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: center;
}

.item-comprado {
    width: 70%;
    height: auto;
    position: relative;
}

#produto {
    width: 222px;
    height: 222px;
    position: relative;
    left: 5%;
    top: 80px;
}

#text {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    display: flex;
    align-items: center;
    color: #000000;
    width: 713px;
    position: relative;
    left: 10%;
    bottom: 110px;
}

#button1 {
    width: 206px;
    height: 51px;
    padding: 10px;
    gap: 10px;
    border: 2px solid #ED1C24;
    border-radius: 12px;
    background-color: #F8FAFC;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #ED1C24;
    margin: 20px;
    position: relative;
    left: 180px;
    bottom: 40px;
    cursor: pointer;
}

#button2 {
    width: 395px;
    height: 51px;
    padding: 10px;
    gap: 10px;
    border: 2px solid #8135CE;
    border-radius: 12px;
    background-color: #F8FAFC;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #8135CE;
    margin: 20px;
    position: relative;
    left: 180px;
    bottom: 40px;
    cursor: pointer;
}

#button1:hover {
    color: #F8FAFC;
    background-color: #ED1C24;
}

#button2:hover {
    color: #F8FAFC;
    background-color: #8135CE;
}

.valor-item {
    position: relative;
    margin-right: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#value {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
}

#parenteses {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    color: #000000;
}

#value2 {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    line-height: 56px;
    color: #8135CE;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#parenteses2 {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #8135CE;
}

#button3 {
    background: #8135CE;
    border-radius: 12px;
    border: 2px solid #8135CE;
    padding: 10px;
    gap: 10px;
    width: 335px;
    height: 60px;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
    cursor: pointer;
}

#button3:hover {
    background-color: #ED1C24;
    color: #FFFFFF;
    border: 2px solid red;
}