    @import url('https://fonts.googleapis.com/css?family=Titillium+Web');
    * {
        margin: 0;
        padding: 0;
        font-family: 'PT Sans Caption', sans-serif;
    }
    
    body {
        background: #eaeaea;
        overflow-x: hidden;
    }
    
    main {
        width: 100vw;
        display: flex;
        justify-content: space-between;
        background: #eaeaea;
    }
    
    .button-filter {
        background-color: #fff;
        color: #DF5B43;
        font-size: 20px;
        font-weight: 700;
        display: flexbox;
        align-items: center;
        width: 166px;
        height: 38px;
        border: none;
        border-radius: 9px;
        box-shadow: 0px 2.76364px 6.90909px rgba(0, 0, 0, 0.25);
    }
    
    #filter {
        width: 14px;
        height: 14px;
        margin-top: 5px;
    }
    
    .all-content {
        width: 80vw;
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        align-items: center;
        flex-direction: row;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }
    
    #notebooks {
        width: 300px;
        margin-left: 40px;
    }
    
    .line-1 {
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 400px;
        height: 450px;
        background-color: #fff;
        border-radius: 12px;
        padding: 1.5rem;
        margin-top: 60px;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }
    /* @media (max-width:1000px) {
        .line-1 {
            width: 300px;
            height: 450px;
            display: flex;
            justify-content: center;
            flex-direction: column;
        }
    } */
    
    .titulo-card {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 15px;
        color: #000000;
        margin-left: 30px;
        margin-right: 30px;
    }
    
    .lista-atributos {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 10px;
        margin-top: 15px;
        margin-bottom: 15px;
        margin-left: 50px;
    }
    
    li {
        color: #858585;
    }
    
    .paragrafo-a-partir-de {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 10px;
        color: #858585;
        margin-left: 30px;
    }
    
    .valor-note {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 800;
        font-size: 36px;
        color: #0B3047;
        margin-left: 30px;
    }
    
    .btn-reserva {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 12px 96px 12px 87px;
        gap: 12px;
        margin-left: 30px;
        margin-right: 30px;
        height: 70px;
        left: 7.35%;
        right: 7.6%;
        top: 82.35%;
        bottom: 6.67%;
        background: #DF5B43;
        border: none;
        box-shadow: 0px 10px 15px rgba(124, 7, 12, 0.15), 0px 4px 6px rgba(124, 7, 12, 0.05);
        border-radius: 12px;
        cursor: pointer;
        color: #fff;
        font-size: 20px;
        font-weight: 700;
    }
    
    section {
        display: flex;
        justify-content: center;
        width: 75%;
        height: auto;
        padding: 2.5rem;
    }
    
    .h3-filtro {
        color: #0B3047;
        margin: 0.9rem;
    }
    
    form {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        align-items: baseline;
        margin-left: 0.9rem;
        padding: 0.2rem;
    }
    
    aside {
        width: 15%;
        padding-left: 2.5rem;
        margin-top: 120px;
    }
    /* @media (max-width:1000px) {
        aside {
            margin: 0;
            padding: 0;
        }
    } */
    
    .cabecalho {
        display: flex;
        justify-content: center;
        height: 10vh;
        padding: 2.5rem;
    }
    
    .dropdown {
        display: flex;
        justify-content: space-around;
        align-items: baseline;
    }
    
    .ordenar {
        color: #DF5B43;
        font-weight: bold;
        font-size: 19px;
        margin-left: 80px;
        margin-top: 10px;
    }
    
    option {
        font-size: 16px;
    }
    
    .filtragem-checkbox {
        display: flex;
    }
    
    #opcoes {
        border: none;
        width: 160px;
        height: 38px;
        margin-left: 20px;
        border-radius: 9px;
        color: #000000;
        font-size: 13px;
        font-weight: 500px;
        display: flexbox;
        align-items: center;
        text-align: center;
        box-shadow: 0px 2.76364px 6.90909px rgba(0, 0, 0, 0.25);
    }