/*PRODUTO - DIEGO*/

<<<<<<< HEAD
* {
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    margin: auto;
}

main {
    background-color: #E2E8F0;
    overflow-x: hidden;
}

=======
>>>>>>> a52f6094e739eed2c8aed4194aad5c18dae433df
.backgroundProduto {
    display: flex;
    justify-content: center;
}

.caixaProduto {
    margin-top: 150px;
    margin-bottom: 150px;
    height: 100%;
    width: 75%;
}

.telaProduto {
    box-sizing: border-box;
    height: 60vh;
    width: 100%;
    padding: 15px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.produtoDetalhes {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}

.nomeProduto {
    text-align: center;
}

.colunaProdutos {
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    width: 100%;
    height: 100%;
    margin: 0.5rem;
}

.imagenzinhaProduto {
    display: block;
    padding: 0.5rem;
    margin: 0.25rem;
    border-radius: 0.25rem;
    width: min-content;
    height: min-content;
}

.fotoPrincipalProduto {
    margin: 50px;
    width: 450px;
    height: 450px;
}

.fotoProduto {
    width: 500px;
    height: 500px;
}

.infoDolado {
    box-sizing: border-box;
    height: 430px;
    width: 430px;
    padding: 0.5rem;
}

.avaliacao {
    display: flex;
    justify-content: space-evenly;
    padding: 1.0rem;
    align-items: center;
}

.estrela-avaliacao {
    display: flex;
    justify-content: space-between;
}

#s1 {
    height: 20px;
    width: 20px;
}

#s2 {
    height: 20px;
    width: 20px;
}

#s3 {
    height: 20px;
    width: 20px;
}

#s4 {
    height: 20px;
    width: 20px;
}

#s5 {
    height: 20px;
    width: 20px;
}

.fretecoracao {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 0.5rem;
    height: min-content;
}

.delivery {
    width: 20px;
    height: 17px;
}

.fretegratis {
    align-items: center;
    color: #8135CE;
    font-size: smaller;
}

.precoEcomprar {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    padding-top: 0.75rem;
    padding-bottom: 0.80rem;
}

.precoPromocao {
    opacity: 0.7;
    text-decoration: line-through;
    font-weight: bold;
    color: #989898;
    letter-spacing: 0.1rem;
    margin-bottom: 3px;
}

.precoCerto {
    font-weight: bold;
    font-size: 26px;
    margin-bottom: 3px;
}

.parcelamento {
    font-weight: bold;
    color: #8135CE;
}

.opcoesParcelamento {
    font-size: 9px;
    color: #989898;
}

.comprar {
    display: flex;
    justify-content: space-between;
    margin-top: 0.75rem;
}

.precoAvista {
    color: #ED1C24;
    font-weight: bold;
    font-size: 32px;
}

.descontoAvista {
    font-size: small;
    color: #ED1C24;
    font-weight: bold;
    margin-top: 0.5rem;
}

.botaoComprar {
    height: 35px;
    width: 150px;
}

:hover .botaoComprar {
    opacity: 0.75;
}

.caixaFrete {
    box-sizing: border-box;
    border: 1px solid #8135CE;
    height: 150px;
    width: 83%;
    background-color: #8135CE;
    border-radius: 15px;
    opacity: 0.8;
    margin-left: 2.2rem;
    padding: 0.8rem;
}

.freteTexto {
    font-size: small;
    color: white;
    padding-left: 0.6rem;
}

#cep {
    border-radius: 8px;
    height: 35px;
    width: 168px;
    padding: 0.6rem;
    margin-top: 0.3rem;
}

.botaoCalcular {
    width: 100px;
    height: 35px;
    background-color: #ED1C24;
    border: #ED1C24;
    border-radius: 7px;
}

.formsCep {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.botaoInfoProduto {
    margin-top: 4rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    justify-items: center;
}

.botoesDIA {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    justify-items: center;
    align-items: center;
    box-sizing: border-box;
    background-color: #8135CE;
    border-radius: 15px;
    width: 80%;
    height: 1.5rem;
    list-style: none;
}

.descricao-produto {
    display: flex;
    justify-content: center;
}

.informacao-produto {
    display: flex;
    justify-content: center;
}

.avaliacoes-produto {
    display: flex;
    justify-content: center;
    align-items: center;
}

.textoProduto {
    text-align: justify;
    align-items: center;
    width: 80%;
}

.textoProdutoh1 {
    color: #8135CE;
    text-align: center;
}

.fotoinformacao-produto {
    display: flex;
    justify-content: center;
    margin: 1.5rem;
}

.selos-produtos {
    display: flex;
    justify-content: center;
    padding: 1.5rem;
}

.selos {
    padding: 1.1rem;
}

.textoProdutoh4 {
    color: #ED1C24;
}

.avaliacaoProdutoEstrela {
    display: flex;
    color: #ED1C24;
    align-items: center;
}

.h1avaliacaoproduto {
    padding: 1.1rem;
}

.mediaAvaliacao {
    display: flex;
    align-items: center;
    padding: 1.1rem;
    margin-left: 9%;
}

.notaGeral {
    color: #8135CE;
    font-weight: bold;
    margin-right: 2%;
}

.totalavaliacao {
    color: #8135CE;
    font-weight: bold;
    margin-left: 3%;
}

.estrelavazia {
    width: 38px;
    height: 38px;
}

.estrelaroxa {
    width: 38px;
    height: 38px;
}

.avaliacaoClientes {
    display: flex;
    justify-content: center;
    width: 100%;
}

.caixaAvaliacao {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 0.75rem;
}

.avaliacaoIndividual {
    box-sizing: border-box;
    box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.25);
    border-radius: 12px;
    height: 163px;
    width: 75%;
    padding: 00.75rem;
    margin-top: 1.0rem;
}

.nomeEstrelaAvaliacao {
    display: flex;
    justify-content: space-between;
}

.nomeData {
    color: #8135CE;
    font-weight: bold;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.opiniaoPessoal {
    padding: 1.5rem;
}

.modalDialog {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 99999;
    opacity: 0;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}

.modalDialog:target {
    opacity: 1;
    pointer-events: auto;
}

.modalDialog>div {
    width: 400px;
    position: relative;
    margin: 10% auto;
    padding: 5px 20px 13px 20px;
    border-radius: 10px;
    background: #fff;
}

.close {
    background: #606061;
    color: #FFFFFF;
    line-height: 25px;
    position: absolute;
    right: -12px;
    text-align: center;
    top: -10px;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 12px;
    box-shadow: 1px 1px 3px #000;
}

.close:hover {
    background: #00d9ff;
}

.metodoPagamento {
    color: #ED1C24;
}

.headerPopUp {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 0.8rem;
}

.tabelaPopUp {
    display: flex;
    justify-content: center;
    width: 100%;
    flex-direction: column;
    padding: 0.5rem;
}

.roxao {
    width: 100%;
    background-color: #8135CE;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    font-weight: bold;
    font-size: 12px;
}

.roxao1 {
    width: 100%;
    background-color: #8135CE;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    border-radius: 7px 7px 0px 0px;
    font-weight: bold;
    font-size: 12px;
}

.roxinho {
    width: 100%;
    background-color: #B36EF9;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    font-weight: bold;
    font-size: 12px;
}

.roxinho1 {
    width: 100%;
    background-color: #B36EF9;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    border-radius: 0px 0px 7px 7px;
    font-weight: bold;
    font-size: 12px;
}