<html lang="pt-BR">


<head>
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="stylesheets/stylecarrinho.css" media="screen" />
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css" />
    <link rel="stylesheet" type="text/css" href="stylesheets/stylecarrinho.css" />
    <link rel="icon" href="images/logos/gamer-logo-about 1.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer"
    />
    <script src="javascripts/script.js"></script>

    <title>Foxxer - de gamers para gamers</title>

</head>

<%- include('./partials/navheader.ejs') %>



    <body>




        <main>

            <!-- navbar -->


            <!-- carrinho -->

            <div class="div-principal">

                <span id="title"><img src="images/carrinhopage/carrinho.png" alt="carrinho" id="carrinho"> Produto adicionado ao seu carrinho!</span>

                <div class="box-white">

                    <div class="item-Comprado">
                        <img id="produto" src="images/carrinhopage/micro.png" alt="produto">
                        <span id="text">HyperX<br><br>Microfone Gamer HyperX QuadCast, Antivibração, LED, Preto e Vermelho, Compatível com PC, Mac e Consoles - ID XXXXXXX</span>
                        <button id="button1" type="button">REMOVER</button><button id="button2" type="button">CONTINUAR COMPRANDO</button>
                    </div>

                    <div class="valor-item">
                        <span id="value">R$941,06</span>
                        <p><span id="parenteses">(EM 12X SEM JUROS DE R$78,42)</span></p><br>
                        <span id="value2">R$799,90</span><br>
                        <span id="parenteses2">(À vista no PIX)</span><br><br>
                        <button id="button3" type="button">FINALIZAR COMPRA</button>

                    </div>

                </div>
            </div>



        </main>

    </body>

    <%- include('./partials/footer.ejs') %>







</html>