<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/stylefinalizarcompra.css">
    <link rel="shortcut icon" type="imagem/x-icon" href="/img/icon.png">
    <title>EASE TOGETHER</title>
</head>

<body>

    <header>
        <%- include('./partials/navheader.ejs') %>
    </header>

    <h1 class="title">Estamos a um passo de finalizar o seu pedido...</h1>

    <div class="box-sizing">

        <div class="section">
            <span class="title2">Macbook Air Apple 13.3', Processador M1, 16GB, SSD 1TB, Space Grey - MGQN3BZ/A</span>
            <button type="button" class="lixeira"><img src="/images/imagesFinalizarCompra/Vector.png" alt=""></button>
        </div>
        <div class="box-sizing2">
            <div>
                <img id="section1" src="/images/imagesFinalizarCompra/img.png" alt="notebook">
            </div>

            <div class="section2">
                <p class="text1">Plano escolhido</p>
                <button type="button" id="button1">Mensal</button>
                <button type="button" id="button2">CONTINUAR COMPRANDO</button>
            </div>

            <div class="section3">
                <p class="text1">Valor</p>
                <p class="value">R$670,00</p>
                <button class="button3" type="button">Finalizar Compra</button>
            </div>

        </div>

    </div>


    <footer>
        <%- include('./partials/footer.ejs') %>
    </footer>

</body>

</html>