* {
    padding: 0px;
    margin: 0px;
}

header {
    background: #FFFFFF;
    box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.25);
}

h1 {
    margin-top: 1%;
    margin-bottom: 1%;
}

.logo {
    margin-left: 4%;
    color: #777777;
    display: flex;
    text-align: center;
}

.love {
    font-size: 1.2rem;
    margin-top: 0.7%;
    margin-left: 0.4%;
}

.loft {
    margin-top: 0;
}

h2 {
    font-weight: 400;
    font-style: normal;
    font-size: 66%;
    margin-top: 9%;
    color: #AAAAAA;
}

.menu {
    margin-left: 86%;
}

.imagem-1 {
    margin: 5%;
    width: 85vw;
    position: relative;
}

.setaEsquerda img {
    position: absolute;
    color: white;
    text-align: center;
    width: 20px;
    margin-top: -25.5%;
    margin-left: 7.7%;
}

.setaDireita img {
    position: absolute;
    color: white;
    text-align: center;
    width: 20px;
    margin-top: -25.5%;
    margin-left: 89%;
}

.flex {
    display: flex;
    justify-content: space-between;
}

.caixa1 {
    overflow-wrap: break-word;
    background-color: #EEEEEE;
    margin-left: 4%;
    width: 39%;
    text-align: center;
}

.imagem-2 {
    width: 35vw;
}

.caixa-textos1 {
    display: flex;
    justify-content: space-between;
}

.preco1 {
    color: #888888;
    font-size: 300%;
    margin-left: 6%;
}

.new {
    margin-top: 1.5%;
    background-color: #51D275;
    color: white;
    text-align: center;
    width: 16%;
    height: 20%;
    font-size: 190%;
    margin-right: 10%;
    border-radius: 20.5vh;
}

.texto1 {
    color: #555555;
    text-align: justify;
    margin-left: 4%;
    margin-right: 4%;
    margin-bottom: 3%;
    padding: 10px;
}

.caixa2 {
    overflow-wrap: break-word;
    background-color: #EEEEEE;
    margin-right: 5%;
    width: 39%;
    text-align: center;
}

.imagem-3 {
    width: 35vw;
}

.caixa-textos2 {
    display: flex;
    justify-content: space-between;
}

.preco2 {
    color: #888888;
    font-size: 300%;
    margin-left: 6%;
}

.sale {
    margin-top: 1.5%;
    color: white;
    background-color: #DC9730;
    text-align: center;
    width: 16%;
    height: 20%;
    font-size: 190%;
    margin-right: 10%;
    border-radius: 20.5vh;
}

.texto2 {
    color: #555555;
    text-align: justify;
    margin-left: 4%;
    margin-right: 4%;
    margin-bottom: 3%;
    padding: 10px;
}

.YourStyle {
    margin-top: 9%;
    color: #888888;
    text-align: center;
    font-size: 280%;
    margin-bottom: 2%;
}

.style1 {
    display: inline-block;
    position: relative;
    position: absolute;
}

.container1 {
    margin: auto;
    width: 91%;
    position: relative;
    color: white;
    text-align: center;
    margin-bottom: 1%;
}

.container1 img {
    width: 100%;
}

.texto8 {
    font-size: 300%;
    margin-right: 10%;
    position: absolute;
    top: 50%;
    left: 43%;
}

.industrialImage {
    filter: opacity(60%);
}

.modernImage {
    filter: opacity(60%);
}

.classicImage {
    filter: opacity(60%);
}

.container2 {
    margin: auto;
    width: 91%;
    position: relative;
    color: white;
    text-align: center;
    margin-bottom: 1%;
}

.container2 img {
    width: 100%;
}

.texto9 {
    font-size: 300%;
    margin-right: 10%;
    position: absolute;
    top: 50%;
    left: 45%;
}

.container3 {
    margin: auto;
    width: 91%;
    position: relative;
    color: white;
    text-align: center;
    margin-bottom: 5%;
}

.container3 img {
    width: 100%;
}

.texto10 {
    font-size: 300%;
    margin-right: 10%;
    position: absolute;
    top: 50%;
    left: 46%;
}

.caixa3 {
    background-color: #333333;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.image4 {
    margin-top: 23%;
    margin-left: 23%;
    margin-bottom: 22%;
    width: 200%;
}

.textosFooter {
    margin-right: 15%;
    margin-top: 8%;
    color: white;
}

.textoFooter1 {
    font-size: 120%;
}

.textoFooter2 {
    font-size: 120%;
    margin-top: 7%;
}

.textoFooter3 {
    font-size: 120%;
    margin-top: 7%;
}

.textoFooter4 {
    font-size: 120%;
    margin-top: 7%;
}

.socialMedias {
    font-size: 120%;
    margin-top: 12%;
}

.socialMedias img {
    width: 6vh;
}

.socialIcons {
    display: flex;
}

.InstagramIcon {
    margin-top: 4%;
    margin-right: 9.5%;
}

.FacebookIcon {
    margin-top: 4%;
    margin-right: 9.5%;
}

.WhatsappIcon {
    margin-top: 4%;
}